<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin/admin-panel">Admin Panel</a>
        <div id="user-info-container" class="d-flex">
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/admin-panel">
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user-page">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Admin panel</h1>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="users-table-tab" data-bs-toggle="tab" href="#users-table" role="tab"
                       aria-controls="users-table" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="new-user-tab" data-bs-toggle="tab" href="#new-user" role="tab"
                       aria-controls="new-user" aria-selected="false">New User</a>
                </li>
            </ul>

            <!-- All users table -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users-table" role="tabpanel"
                     aria-labelledby="users-table-tab">
                    <div class="card mt-1">
                        <div class="bg-light border-bottom">
                            <h5 class="h5 p-lg-3">All users</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Enabled</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END all users table-->

                <!-- Edit Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editUserForm">
                                    <input type="hidden" id="editId" name="id">
                                    <div class="form-group mb-2">
                                        <label for="editUserId">ID</label>
                                        <input type="text" class="form-control" id="editUserId" disabled>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="editUsername" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="editUsername" name="username">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="editFirstName" class="form-label">First Name</label>
                                        <input type="text" class="form-control" id="editFirstName" name="firstName">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="editLastName" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="editLastName" name="lastName">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="editPassword">Password</label>
                                        <input type="text" class="form-control" id="editPassword" name="password">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="editAge" class="form-label">Age</label>
                                        <input type="number" class="form-control" id="editAge" name="age">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="editEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="editEmail" name="email">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label class="form-label">Roles</label>
                                        <div id="editRolesContainer">
                                        </div>
                                    </div>
                                    <div class="form-group form-check border-top mt-4">
                                        <input type="checkbox" class="form-check-input" id="editEnabled" name="enabled">
                                        <label class="form-check-label" for="editEnabled">Enabled</label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END edit modal -->

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="deleteUserForm">
                                    <input type="hidden" id="deleteId" name="id">
                                    <div class="form-group mb-2">
                                        <label for="deleteUserId">ID</label>
                                        <input type="text" class="form-control" id="deleteUserId" disabled>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="deleteUsername" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="deleteUsername" name="username"
                                               disabled>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="deleteFirstName" class="form-label">First Name</label>
                                        <input type="text" class="form-control" id="deleteFirstName" name="firstName"
                                               disabled>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="deleteLastName" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="deleteLastName" name="lastName"
                                               disabled>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="deleteAge" class="form-label">Age</label>
                                        <input type="number" class="form-control" id="deleteAge" name="age" disabled>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="deleteEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="deleteEmail" name="email" disabled>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="deleteRoles">Roles</label>
                                        <input type="text" class="form-control" id="deleteRoles" disabled>
                                    </div>
                                    <div class="modal-footer mt-4">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END delete modal -->

                <!-- Create new user form -->
                <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="card mt-1" style="width: 50%;">
                            <div class="bg-light border-bottom">
                                <h5 class="h5 p-lg-3">Add new user</h5>
                            </div>
                            <div class="card-body">
                                <form id="userForm">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text" id="addon-wrapping">@</span>
                                        <input id="username" type="text" class="form-control" placeholder="Username"
                                               aria-label="Username" aria-describedby="addon-wrapping">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="firstName">First name</label>
                                        <input id="firstName" type="text" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="lastName">Last name</label>
                                        <input id="lastName" type="text" class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="age">Age</label>
                                        <input id="age" type="number" class="form-control" placeholder="Age">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="email">Email</label>
                                        <input id="email" type="email" class="form-control"
                                               placeholder="example@gmail.com">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="password">Password</label>
                                        <input id="password" type="password" class="form-control"
                                               placeholder="Password">
                                    </div>
                                    <div class="form-group form-check mb-2" id="rolesContainer"
                                         style="padding-left: 0">
                                    </div>
                                    <div class="form-group form-check mb-4">
                                        <input class="form-check-input" type="checkbox" id="enabled">
                                        <label class="form-check-label" for="enabled">Enabled</label>
                                    </div>
                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END create new user form -->

            </div>
        </main>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const usersTableBody = document.getElementById('usersTableBody');
        const editModal = document.getElementById('editModal');
        const deleteModal = document.getElementById('deleteModal');
        const csrfToken = document.querySelector('meta[name="_csrf"]').content;
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        function fetchUsers() {
            fetch('/api/v1/admin/users')
                .then(response => response.json())
                .then(users => {
                    usersTableBody.innerHTML = '';
                    users.forEach(user => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${user.id}</td>
                            <td>${user.username}</td>
                            <td>${user.firstName}</td>
                            <td>${user.lastName}</td>
                            <td>${user.age}</td>
                            <td>${user.email}</td>
                            <td>${user.roles.map(role => role.role).join(', ')}</td>
                            <td>
                                <input type="checkbox" ${user.enabled ? 'checked' : ''} disabled/>
                            </td>
                            <td>
                                <button class="btn btn-info btn-sm edit-user" data-bs-toggle="modal"
                                data-bs-target="#editModal" data-id="${user.id}">Edit</button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm delete-user" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" data-id="${user.id}">Delete</button>
                            </td>
                        `;
                        usersTableBody.appendChild(row);
                    });
                });
        }

        function fetchRoles(containerId) {
            fetch('/api/v1/admin/roles')
                .then(response => response.json())
                .then(roles => {
                    const rolesContainer = document.getElementById(containerId);
                    rolesContainer.innerHTML = '';
                    roles.forEach(role => {
                        const div = document.createElement('div');
                        div.className = 'form-check';

                        const input = document.createElement('input');
                        input.className = 'form-check-input';
                        input.type = 'checkbox';
                        input.id = `role-${role.id}`;
                        input.value = role.role;
                        input.dataset.id = role.id;

                        const label = document.createElement('label');
                        label.className = 'form-check-label';
                        label.htmlFor = `role-${role.id}`;
                        label.textContent = role.role;

                        div.appendChild(input);
                        div.appendChild(label);
                        rolesContainer.appendChild(div);
                    });
                });
        }

        function fetchAuthorizedUserInfo() {
            fetch('/api/v1/admin/user')
                .then(response => response.json())
                .then(authorizedUser => {
                    const userInfoContainer = document.getElementById('user-info-container');
                    console.log(authorizedUser);
                    const navbarText = document.createElement('span');
                    navbarText.className = 'navbar-text me-2';
                    navbarText.textContent = authorizedUser.username;

                    const rolesText = document.createElement('span');
                    rolesText.className = 'navbar-text me-2';
                    rolesText.textContent = 'with roles: ';

                    userInfoContainer.appendChild(navbarText);
                    userInfoContainer.appendChild(rolesText);
                    console.log(authorizedUser.roles);
                    authorizedUser.roles.forEach(role => {
                        const roleSpan = document.createElement('span');
                        roleSpan.className = 'navbar-text me-2';
                        roleSpan.textContent = role.role;
                        userInfoContainer.appendChild(roleSpan);
                    });

                    const logoutButton = document.createElement('a');
                    logoutButton.className = 'btn btn-outline-light';
                    logoutButton.href = '/logout';
                    logoutButton.textContent = 'Logout';

                    userInfoContainer.appendChild(logoutButton);
                })
                .catch(error => console.error('Error fetching user info:', error));
        }

        fetchAuthorizedUserInfo();
        fetchUsers();
        fetchRoles('rolesContainer');
        fetchRoles('editRolesContainer');

        editModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const userId = button.getAttribute('data-id');

            fetch(`/api/v1/admin/users/${userId}`)
                .then(response => response.json())
                .then(user => {
                    editModal.querySelector('#editId').value = user.id;
                    editModal.querySelector('#editUserId').value = user.id;
                    editModal.querySelector('#editUsername').value = user.username;
                    editModal.querySelector('#editFirstName').value = user.firstName;
                    editModal.querySelector('#editLastName').value = user.lastName;
                    editModal.querySelector('#editPassword').value = "";
                    editModal.querySelector('#editAge').value = user.age;
                    editModal.querySelector('#editEmail').value = user.email;

                    const roleCheckboxes = editModal.querySelectorAll('.form-check-input');
                    console.log('User roles:', user.roles); // Отладочный вывод
                    roleCheckboxes.forEach(checkbox => {
                        console.log('Checkbox value:', checkbox.value); // Отладочный вывод
                        checkbox.checked = user.roles.some(role => role.role === checkbox.value);
                        console.log('Checkbox checked:', checkbox.checked); // Отладочный вывод
                    });

                    editModal.querySelector('#editEnabled').checked = user.enabled;
                });
        });

        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const userId = button.getAttribute('data-id');

            fetch(`/api/v1/admin/users/${userId}`)
                .then(response => response.json())
                .then(user => {
                    deleteModal.querySelector('#deleteId').value = user.id;
                    deleteModal.querySelector('#deleteUserId').value = user.id;
                    deleteModal.querySelector('#deleteUsername').value = user.username;
                    deleteModal.querySelector('#deleteFirstName').value = user.firstName;
                    deleteModal.querySelector('#deleteLastName').value = user.lastName;
                    deleteModal.querySelector('#deleteAge').value = user.age;
                    deleteModal.querySelector('#deleteEmail').value = user.email;
                    deleteModal.querySelector('#deleteRoles').value = user.roles.map(role => role.role).join(', ');
                });
        });

        editModal.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const userData = Object.fromEntries(formData.entries());

            userData.enabled = userData.enabled === 'on';
            userData.roles = Array.from(editModal.querySelectorAll('.form-check-input:checked'))
                .map(checkbox => {
                    const id = checkbox.dataset.id;
                    if (id) {
                        return {
                            id: id,
                            role: checkbox.value
                        };
                    }
                }).filter(role => role);
            console.log(userData);
            fetch(`/api/v1/admin/users/${userData.id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(userData)
            })
                .then(response => response.json())
                .then(updatedUser => {
                    fetchUsers();
                    $('#editModal').modal('hide');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        deleteModal.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault();
            const userId = deleteModal.querySelector('#deleteId').value;

            fetch(`/api/v1/admin/users/${userId}`, {
                method: 'DELETE',
                headers: {
                    [csrfHeader]: csrfToken
                },
            })
                .then(response => {
                    if (response.ok) {
                        fetchUsers();
                        $('#deleteModal').modal('hide');
                    }
                });
        });

        const form = document.getElementById('userForm');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            const user = {
                username: document.getElementById('username').value,
                firstName: document.getElementById('firstName').value,
                lastName: document.getElementById('lastName').value,
                age: document.getElementById('age').value,
                email: document.getElementById('email').value,
                password: document.getElementById('password').value,
                enabled: document.getElementById('enabled').checked,
                roles: Array.from(document.querySelectorAll('#rolesContainer input[type="checkbox"]:checked')).map(input => ({
                    id: input.dataset.id,
                    role: input.value
                }))
            };

            fetch('/api/v1/admin/save-user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(user)
            })
                .then(response => response.json())
                .then(data => {
                    alert('User created successfully!');
                    fetchUsers();
                    form.reset();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('There was an error creating the user.');
                });
        });
    });
</script>
</body>
</html>