<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin/admin-panel}">Admin Panel</a>
        <div class="d-flex">
            <span class="navbar-text me-2" th:text="${authorizedUser.getUsername()}">Username</span>
            <span class="navbar-text me-2">with roles: </span>
            <th:block th:each="role : ${authorizedUser.getRoles()}">
                <span class="navbar-text me-2" th:text="${role.getRole()}">[roles]</span>
            </th:block>
            <a class="btn btn-outline-light" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/admin/admin-panel}">
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/user}">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Admin panel</h1>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="users-table-tab" data-bs-toggle="tab" href="#users-table" role="tab"
                       aria-controls="users-table" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="new-user-tab" data-bs-toggle="tab" href="#new-user" role="tab"
                       aria-controls="new-user" aria-selected="false">New User</a>
                </li>
            </ul>

            <!-- All users table -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users-table" role="tabpanel"
                     aria-labelledby="users-table-tab">
                    <div class="card mt-1">
                        <div class="bg-light border-bottom">
                            <h5 class="h5 p-lg-3">All users</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Enabled</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user : ${users}">
                                    <tr>
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getUsername()}"></td>
                                        <td th:text="${user.getFirstName()}"></td>
                                        <td th:text="${user.getLastName()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td th:text="${user.getRolesAsString()}"></td>
                                        <th>
                                            <label class="form-check-label" for="enabledView"></label>
                                            <input type="checkbox" id="enabledView" name="enabled"
                                                   th:checked="${user.enabled}" disabled/>
                                        </th>
                                        <td>
                                            <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#editModal"
                                                    th:data-id="${user.getId()}"
                                                    th:data-username="${user.getUsername()}"
                                                    th:data-firstname="${user.getFirstName()}"
                                                    th:data-lastname="${user.getLastName()}"
                                                    th:data-password="${user.password}"
                                                    th:data-age="${user.getAge()}"
                                                    th:data-email="${user.getEmail()}"
                                                    th:data-roles="${user.getRolesIdAsString()}"
                                                    th:data-enabled="${user.isEnabled()}">Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal"
                                                    th:data-id="${user.getId()}"
                                                    th:data-username="${user.getUsername()}"
                                                    th:data-firstname="${user.getFirstName()}"
                                                    th:data-lastname="${user.getLastName()}"
                                                    th:data-age="${user.getAge()}"
                                                    th:data-email="${user.getEmail()}"
                                                    th:data-roles="${user.getRolesAsString()}">Delete
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END all users table-->

                <!-- Create new user form -->
                <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="card mt-1" style="width: 50%;">
                            <div class="bg-light border-bottom">
                                <h5 class="h5 p-lg-3">Add new user</h5>
                            </div>
                            <div class="card-body">
                                <form th:method="POST" th:action="@{/admin/save-user}" th:object="${user}">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text" id="addon-wrapping">@</span>
                                        <input th:field="*{username}" type="text" class="form-control"
                                               placeholder="Username" aria-label="Username"
                                               aria-describedby="addon-wrapping">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="firstName">First name</label>
                                        <input th:field="*{firstName}" type="text" class="form-control" id="firstName"
                                               placeholder="First name">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="lastName">Last name</label>
                                        <input th:field="*{lastName}" type="text" class="form-control" id="lastName"
                                               placeholder="Last name">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="age">Age</label>
                                        <input th:field="*{age}" type="number" class="form-control" id="age"
                                               placeholder="Age">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="email">Email</label>
                                        <input th:field="*{email}" type="email" class="form-control" id="email"
                                               placeholder="example@gmail.com">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="password">Password</label>
                                        <input th:field="*{password}" type="password" class="form-control" id="password"
                                               placeholder="Password">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="role">Roles:</label>
                                        <div class="form-check" th:each="role : ${allRoles}">
                                            <input class="form-check-input" type="checkbox" id="role"
                                                   th:field="*{roles}" th:value="${role.id}">
                                            <label class="form-check-label" th:text="${role.role}"></label>
                                        </div>
                                    </div>
                                    <div class="form-group form-check mb-4">
                                        <input class="form-check-input" type="checkbox" id="enabled"
                                               th:value="${user.enabled}"
                                               th:field="*{enabled}">
                                        <label class="form-check-label" for="enabled">Enabled</label>
                                    </div>
                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END create new user form -->

            </div>
        </main>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" th:action="@{/admin/delete-user}" th:method="delete" th:object="${user}">
                    <input type="hidden" id="deleteId" name="id" th:field="*{id}"/>
                    <div class="form-group mb-2">
                        <label for="deleteUserId">ID</label>
                        <input type="text" class="form-control" id="deleteUserId" th:field="*{id}" disabled>
                    </div>
                    <div class="form-group mb-2">
                        <label for="deleteUsername">Username</label>
                        <input type="text" class="form-control" id="deleteUsername" th:field="*{username}" disabled>
                    </div>
                    <div class="form-group mb-2">
                        <label for="deleteFirstName">First Name</label>
                        <input type="text" class="form-control" id="deleteFirstName" th:field="*{firstName}" disabled>
                    </div>
                    <div class="form-group mb-2">
                        <label for="deleteLastName">Last Name</label>
                        <input type="text" class="form-control" id="deleteLastName" th:field="*{lastName}" disabled>
                    </div>
                    <div class="form-group mb-2">
                        <label for="deleteAge">Age</label>
                        <input type="text" class="form-control" id="deleteAge" th:field="*{age}" disabled>
                    </div>
                    <div class="form-group mb-2" >
                        <label for="deleteEmail">Email</label>
                        <input type="text" class="form-control" id="deleteEmail" th:field="*{email}" disabled>
                    </div>
                    <div class="form-group mb-2">
                        <label for="deleteRoles">Roles</label>
                        <input type="text" class="form-control" id="deleteRoles" th:field="*{roles}" disabled>
                    </div>
                    <div class="modal-footer mt-4">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END delete Modal -->

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" th:action="@{/admin/update-user}" th:method="post" th:object="${user}">
                    <input type="hidden" id="editId" name="id" th:field="*{id}"/>
                    <div class="form-group mb-2">
                        <label for="editUserId">ID</label>
                        <input type="text" class="form-control" id="editUserId" th:field="*{id}" disabled>
                    </div>
                    <div class="form-group mb-2">
                        <label for="editUsername">Username</label>
                        <input type="text" class="form-control" id="editUsername" th:field="*{username}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="editFirstName">First Name</label>
                        <input type="text" class="form-control" id="editFirstName" th:field="*{firstName}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="editLastName">Last Name</label>
                        <input type="text" class="form-control" id="editLastName" th:field="*{lastName}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="editPassword">Password</label>
                        <input type="text" class="form-control" id="editPassword" th:field="*{password}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="editAge">Age</label>
                        <input type="number" class="form-control" id="editAge" th:field="*{age}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="editEmail">Email</label>
                        <input type="email" class="form-control" id="editEmail" th:field="*{email}">
                    </div>
                    <div class="form-group mb-2">
                        <label for="editRoles"></label>
                        <div class="form-check" th:each="role : ${allRoles}">
                            <input class="form-check-input" type="checkbox" id="editRoles"
                                   th:field="*{roles}" th:value="${role.id}">
                            <label class="form-check-label" th:text="${role.role}"></label>
                        </div>
                    </div>
                    <div class="form-group form-check border-top mt-4">
                        <input class="form-check-input" type="checkbox" id="editEnabled"
                               th:checked="${user.enabled}"
                               th:field="*{enabled}">
                        <label class="form-check-label" for="editEnabled">Enabled</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END edit Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<script>
    $('#editModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let userId = button.data('id');
        let username = button.data('username');
        let firstname = button.data('firstname');
        let lastname = button.data('lastname');
        let age = button.data('age');
        let email = button.data('email');
        let rolesData = button.data('roles');
        let roles = String(rolesData).split(',');
        let enabled = button.data('enabled');
        let modal = $(this);

        modal.find('.modal-body #editId').val(userId);
        modal.find('.modal-body #editUserId').val(userId);
        modal.find('.modal-body #editUsername').val(username);
        modal.find('.modal-body #editFirstName').val(firstname);
        modal.find('.modal-body #editLastName').val(lastname);
        modal.find('.modal-body #editPassword').val("");
        modal.find('.modal-body #editAge').val(age);
        modal.find('.modal-body #editEmail').val(email);

        modal.find('.modal-body .form-check-input').each(function () {
            let roleId = $(this).val();
            $(this).prop('checked', roles.includes(roleId));
        });

        modal.find('.modal-body #editEnabled').prop('checked', enabled);
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let userId = button.data('id');
        let username = button.data('username');
        let firstname = button.data('firstname');
        let lastname = button.data('lastname');
        let age = button.data('age');
        let email = button.data('email');
        let roles = button.data('roles');
        let modal = $(this);
        modal.find('.modal-body #deleteId').val(userId);
        modal.find('.modal-body #deleteUserId').val(userId);
        modal.find('.modal-body #deleteUsername').val(username);
        modal.find('.modal-body #deleteFirstName').val(firstname);
        modal.find('.modal-body #deleteLastName').val(lastname);
        modal.find('.modal-body #deleteAge').val(age);
        modal.find('.modal-body #deleteEmail').val(email);
        modal.find('.modal-body #deleteRoles').val(roles);
    });
</script>
</body>
</html>
