<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}"></title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            margin: 0;
        }

        div#container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        h3 {
            margin: 5px;
        }
    </style>
</head>
<body>
<div id="container">
    <h2>Personal page</h2>
    <h3>Login: <b th:text="${user.getUsername()}"></b></h3>
    <h3>Name: <b th:text="${user.getName()}"></b></h3>
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>