<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Access Denied</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            margin: 0;
        }

        div#container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }


        h2 {
            margin: 10px;
        }
    </style>
</head>
<body>
<div id="container">
    <h2>Access Denied</h2>
    <p>You do not have permission to access this page</p>
</div>
</body>
</html>